

#subb1
{
    
    text-align: center;  height: 25px; width: 50px; background-color: #F5F5F5; float: left; border-radius: 12px; 
}

#subb2
{
    text-align: center;  height: 25px; width: 75px; background-color: #F5F5F5; float: left; margin-left: 12px; border-radius: 12px; 
}

#subb3
{
    text-align: center;  height: 25px; width: 175px; background-color: #F5F5F5; float: left; margin-left: 12px; border-radius: 12px; 
}

#subb4
{
    text-align: center;  height: 25px; width: 70px; background-color: #F5F5F5; float: left; margin-left: 12px; border-radius: 12px; 
}

#subb5
{
    text-align: center;  height: 25px; width: 250px; background-color: #F5F5F5; float: left; margin-left: 12px; border-radius: 12px; 
}

.ac1
{
    font-weight: bold;
}

.ac2
{
    height: 1px;
}

#ac4
{
    margin-left: 15px;
}

#ac5
{
    color: orange; font-size: 25px;
}

#ac6
{
    margin: 25px ; float: right ;width: 320px; height: 340px;  background-color: white; 
}

#ac7
{
    margin: auto; padding-top: 55px;
}

#ac8
{
    padding-top: 8px ;margin-left: 15px ;width: fit-content; height: 50px; float: left;
}

#ac9
{
    width: fit-content; padding: 8px; border: 2px solid rgba(26, 26, 26, 0.185) ;height: 25px; float: left; border-radius: 10%; font-size: 14px;
}

#ac10
{
    clear: left; height: 1px; 
}

#ac11
{
    color: blue ;inset-inline:unset;
}


#ac12
{
    color: blue; text-decoration: none;
}

#ac13
{
    float: left; margin-left: 15px; margin-top: 10px; 
}

#ac14
{
    float: left ; width: 20%; padding: 15px;
}

#ac15
{
    font-family: sans-serif;padding-top: 15px; margin-bottom: 0%; padding-bottom: 0px;
}


#ac16
{
    font-size: 12px; margin-top: 0%; padding-top: 0px; color: #84898db2;
}


#ac17
{
    width: 320px;height: 20px; background-color: #f1eded
}


#ac18
{
    font-weight: bold; background-color: #f1eded
}


#ac19
{
    margin-left: 10px ;margin: 5px;
}

#ac20
{
    width: fit-content; height: fit-content; float: right; margin-top: 180px; margin-left: 15px; padding-left: 15px;
}


#ac21
{
    width: 320px;height: 20px; background-color: #f1eded
}

#ac22
{
    margin-left: 30px; width: 400px;
}

#ac23
{
    width: 320px; height: 450px; background-color: white;
}


#ac24
{
    border: 1px solid rgb(150, 150, 150) ; margin-left: 10px ;clear: both; float: left ;height: 38px; width: 100px; margin-top: 15px;
}


#ac25
{
    clear:both; padding-top: 2px; margin-left: 10px; color: red; font-weight: bold; display: none;
}


#ac26
{
    float: left; margin-left: 5px;
}


.ac27
{
    margin-top: 15px; height: 32px;
}


#num
{
    margin-top: 15px; height: 32px;
}

#ac29
{
    clear: both;
}

#ac30
{
    clear: both;
}

#ac31
{
    margin-left: 30px ;float: right ;width: 320px; height: 320px;  background-color: white;
}

#ac32
{
    width: 320px;height: 50px; background-color: #f1eded;
}

#ac33
{
    margin-left: 30px ;float: right ;width: 320px; height: 320px;  background-color: white;
}

#ac34
{
    width: 320px;height: 50px; background-color: #f1eded;
}

#ac35
{
    float: left ; width: 20%; padding: 15px;
}

.hi1
{
    clear:both; padding-top: 2px; margin-left: 10px; color: red; font-weight: bold; display: none;
}

.mega1
{
    float: right ;color: white;  font-size: 20px ;background-color: orangered; width: 30px; height: 30px ;border-radius: 50%; border: 1px solid black;
}

.mega2
{
    float: right ;color: black ; font-size: 20px ;background-color: white; width: 30px; height: 30px ;border-radius: 50%; border: 1px solid black;
}

#sm1
{
    display: none;
}

#mi1
{
    font-weight:bold; 
}

#mi2
{
    margin-left: 15px;
}

#mi6
{
    text-decoration: none;
}

#opt
{
    text-align: center;
}

#mi4
{
    height: 1px;
}

#mi5
{
    height: 1px
}

#mi8
{
    float: right;
}

#mi9
{
    clear: both; margin-left: 10px; margin-top: 10px; margin-bottom: 2px;
}


#mi7
{
    clear: both;
}


#mi10
{
    float: left; margin-left: 5px;
}

#mi11
{
    
}