.col-sm-10 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  color: #4b4b4b;
}
.line-height-30 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #4b4b4b;
}
#str1 {
  width: 5%;
  padding: 10px 0px 20px 0px;
}
#str2 {
  padding-left: 0;
  float: left;
}
#str3 {
  padding-left: 0;
}
#str4 {
  padding-left: 0;
}
#str5 {
  padding-left: 0;
}
#str6 {
  padding-left: 0;
}
#str7 {
  padding-left: 0;
}
#str8 {
  padding-left: 0;
  color: white;
}
#str9 {
  font-size: 15px;
}
#str10 {
  color: white;
}
.reslis {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
}
.panel-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #4b4b4b;
}
.panel-body {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4b4b4b;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.pd0 {
  padding: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.col-xs-12,
.col-sm-2,
.col-sm-4,
.col-sm-6,
.col-sm-10,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-10,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2,
.h2 {
  font-size: 30px;
}

@media (min-width: 768px) {
  .col-sm-2,
  .col-sm-4,
  .col-sm-6,
  .col-sm-10,
  .col-sm-12 {
    float: left;
  }
}

@media (min-width: 768px) {
  .col-sm-10 {
    width: 83%;
  }
}

.mt0 {
  margin-top: 0;
}

.mb20 {
  margin-bottom: 20px;
}

.text-right {
  text-align: right;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-2 {
    width: 16%;
  }
}

.pull-left {
  float: left !important;
}

.mt10 {
  margin-top: 10px;
}

.pull-left {
  float: left;
}

.hidden-xs {
  display: block !important;
}

.resummain {
  float: left;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}

.panel-default {
  border-color: #ddd;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}

.panel {
  border-radius: 0;
  margin-bottom: 0;
  z-index: 2;
}

.ppe {
  float: left;
  width: 100%;
}

a {
  color: #428bca;
  text-decoration: none;
  text-decoration-line: none;
}

a {
  color: #4b4b4b;
}

.line-height-30 {
  line-height: 30px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.mb0 {
  margin-bottom: 0;
}

.reslis {
  float: left;
  list-style: none;
  list-style-type: none;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.full_container {
  width: 100%;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-default > .panel-heading {
  background-image: linear, left 0, left 100%;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color: #efefef;
  border-radius: 0;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
}

.reslis li {
  float: left;
  font-family: arial;
  background: url(https://static.hirist.com/resources/img/lin.png) repeat-x left
    center;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4,
.h4 {
  font-size: 18px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.appicon {
  float: right;
  margin: 15px 0 0 0;
}

.reslis li a {
  float: left;
  background: #efefef;
  border-radius: 30px;
  padding: 8px 12px;
  color: #999;
  margin-right: 25px;
  font-size: 13px;
}

.reslis li a.active {
  background: #e9630c;
  color: #fff;
}

.reslis li a.lastch {
  margin-right: 0 !important;
}

.panel-body {
  padding: 15px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #ddd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ddd;
}

.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}

.panel-body:after {
  clear: both;
}

.text-center {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 12px;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

.inputRowrepeat {
  border-top: 1px solid #e0e0e0;
  padding-top: 30px;
  position: relative;
  clear: both;
}

.inputRowrepeat:first-child {
  border-top: 0 solid #e0e0e0;
  padding-top: 0;
}

.mt5 {
  margin-top: 5px;
}

.greentxt {
  color: #e9630c;
}

.txt16 {
  font-size: 15px;
}

.ml25 {
  margin-left: 25px;
}

.greenbtnmedium {
  background-color: #e9630c;
  padding: 5px 20px;
  line-height: 25px;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  border-radius: 0;
  appearance: button;
}

.appicon img {
  width: 140px;
  height: 45px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-10,
  .col-md-12 {
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-2 {
    width: 16%;
  }
}

.submitresume label {
  font-weight: normal;
}

.registrationPage label {
  cursor: pointer;
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}

.form-horizontal.applyform .control-label {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: 33%;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 33%;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8%;
  }
}

@media (min-width: 992px) {
  .col-md-5 {
    width: 41%;
  }
}

.radio,
.checkbox {
  display: block;
}

.pdl0 {
  padding-left: 0;
}

.mt7 {
  margin-top: 7px;
}

.visible-xs {
  display: none !important;
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-10 {
    width: 83%;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  float: left;

  border-bottom-left-radius: 4px;
}

.submitresume .dropdown-menu {
  height: 250px;
  overflow-y: scroll;
}

label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.pipe {
  border-left: 1px solid #e1e1e1;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}

.pdl5 {
  padding-left: 5px;
}

.adddegmob {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.drkgreybtnmedium {
  background-color: #6e6e6e;
  padding: 5px 10px;
  line-height: 25px;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

input[type="radio"],
input[type="radio"],
.checkbox input[type="checkbox"],
input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
